<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-274">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <!-- Remove the light class if you don't need the dark logo -->
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/icons/big-logo.svg" alt="logo" width="240" height="32">
            </a>
            <div class="cs-social">
            </div>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="tel:770-231-4055">(770) 231 4055</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="mailto:info@codestitch.com">tcburch@burchindustrialservices.net</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Location</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link">Loganville, Ga 30052</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Opening Hours</span>
            </li>
            <li class="cs-nav-li">
                Monday-Friday: 8am-5pm
            </li>
        </ul>
    </div>
</footer>
                                