---
title: 'Services | Burch Industrial Services'
description: 'Meta description for the page'
permalink: '/services/'
eleventyNavigation:
  key: Services
  order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
        <!--                    LANDING                   -->
        <!-- ============================================ -->

        <section id="int-hero">
            <h1 id="home-h">Services</h1>
            <picture>
                <source media="(max-width: 600px)" srcset="/assets/images/cautiontape.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/cautiontape.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/cautiontape.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
            </picture>
        </section>



    <!-- ============================================ -->
    <!--                    Services                  -->
    <!-- ============================================ -->

    <section id="services-1253">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex-group">
                    <span class="cs-topper">What We Do</span>
                    <h2 class="cs-title">Professional Construction Services</h2>
                    <h3 class="experience">With a leadership team that has a combined 80+ years of experience, we are no stranger to getting the job done right</h3>
                </div>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-box cs-h3">
                      Excavation
                    </h3>
                <p class="cs-item-text">
                    Our expert operators are safe & efficient
                </p>
                    <picture class="cs-item-background">
                        <source media="(max-width: 600px)" srcset="/assets/images/zackexcavator.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/zackexcavator.jpg">
                        <img decoding="async" src="/assets/images/zackexcavator.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <h3 class="cs-box cs-h3">
                      Welding & Fabrication
                    </h3>
                    <p class="cs-item-text">
                        Precision welding and custom fabrication solutions tailored to meet your project's unique demands
                    </p>
                    <picture class="cs-item-background">
                        <source media="(max-width: 600px)" srcset="/assets/images/holten-welding.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/holten-welding.jpg">
                        <img decoding="async" src="/assets/images/holten-welding.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <h3 class="cs-box cs-h3">
                      Plumbing 
                    </h3>
                    <p class="cs-item-text">
                        Professional plumbing services from installation to maintenance, ensuring efficient and reliable systems
                    </p>
                    <picture class="cs-item-background">
                        <source media="(max-width: 600px)" srcset="/assets/images/plumbing.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/plumbing.jpg">
                        <img decoding="async" src="/assets/images/plumbing.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <h3 class="cs-box cs-h3">
                      Remediation & Abatement 
                    </h3>
                    <p class="cs-item-text">
                        We safely manage and remove hazardous materials
                    </p>
                    <picture class="cs-item-background">
                        <source media="(max-width: 600px)" srcset="/assets/images/hazard-removal.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/hazard-removal.jpg">
                        <img decoding="async" src="/assets/images/hazard-removal.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <h3 class="cs-box cs-h3">
                      Concrete Work 
                    </h3>
                    <p class="cs-item-text">
                        Specialized concrete work for durable driveways, walkways, and custom surfaces
                    </p>
                    <picture class="cs-item-background">
                        <source media="(max-width: 600px)" srcset="/assets/images/concrete-work.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/concrete-work.jpg">
                        <img decoding="async" src="/assets/images/concrete-work.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <h3 class="cs-box cs-h3">
                      Underground/Above Ground Storage Tank Installation, Repair, and Removal 
                    </h3>
                    <p class="cs-item-text">
                        Efficient tank removal, installation, and servicing for safe and reliable operations
                    </p>
                    <picture class="cs-item-background">
                        <source media="(max-width: 600px)" srcset="/assets/images/tank-removal.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/tank-removal.jpg">
                        <img decoding="async" src="/assets/images/tank-removal.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                    </picture>
                </li>
            </ul>

        </div>
    </section>

<!-- ============================================ -->
<!--                 Why Choose/Services                   -->
<!-- ============================================ -->

<section id="why-choose-12">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">We Do It All</h2>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/icons/plantmaintenance.svg" alt="heart icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Industrial / Plant Maintenance</h3>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/icons/ground-water.svg" alt="toolbox icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Groundwater Management</h3>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/icons/demolition.svg" alt="toolbox icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Demolition</h3>
            </li>
        </ul>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/icons/land.svg" alt="heart icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Clearing / Light Grading</h3>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/icons/water.svg" alt="toolbox icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Waterproofing</h3>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/icons/industrial-cleaning.svg" alt="ribbon icon" width="32" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Industrial Cleaning</h3>
            </li>
        </ul>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/icons/pond.svg" alt="heart icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Pond Dredging</h3>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/icons/sewer.svg" alt="ribbon icon" width="32" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Storm Sewer Repair and Management</h3>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/icons/welding.svg" alt="ribbon icon" width="32" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Welding / Fabrication
                </h3>
            </li>
        </ul>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/icons/concrete.svg" alt="heart icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Concrete</h3>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/icons/underground-utility.svg" alt="ribbon icon" width="32" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Underground Utility Repair</h3>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/icons/remediation.svg" alt="ribbon icon" width="32" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Abatement / Remediation</h3>
            </li>
        </ul>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/icons/coatings.svg" alt="heart icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Industrial Coatings</h3>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/icons/environmental.svg" alt="ribbon icon" width="32" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Environmental Services</h3>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="/assets/icons/tank.svg" alt="ribbon icon" width="32" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Storage Tank Installation, Repair, and Removal
                </h3>
            </li>
        </ul>
        <a href="/contact/" class="cs-button-solid">Get Free Quote</a>
    </div>
</section>
                                
{% endblock %}