---
title: 'Burch Industrial Services | Loganville, Ga'
description: 'Meta description for the page'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1617">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">
               Burch Industrial Services Est. 2002</h1>
            <a href="/contact/" class="cs-button-solid">Get In Touch</a>
            <!--Bottom Corners-->
            <div class="cs-corners" aria-hidden="true"></div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/excavator.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/excavator.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/excavator.jpg" alt="meeting" width="1920" height="1200" aria-hidden="true">
    </picture>
    
</section>
    
    {% include 'components/services-landing.html' %}
    {% include 'components/who-we-are.html' %}
    {% include 'components/why-choose-us.html' %}
    
   
    
{% endblock %}